/* Nav Styles */

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    line-height: 61px;
    text-align: left;
}


.text-primary {
    color: rgb(253, 110, 10);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* Button Section */

.primary-button {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

/* Header section */

header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
}
.banner-content{
    width: 585px;
}

.profil-pic {
    Width: 584pxpx;
    height: 676pxpx;


}

.banner-greeding {
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;

}

/* main section */

